/*-----FOOTER-----*/
.footer{
  width: 100%;
  height: 18vh;
  background-image: radial-gradient(
    circle at 7.42% 53.73%,
    #edda67 0,
    #efcf59 16.67%,
    #f1c24a 33.33%,
    #f2b53c 50%,
    #f3a72f 66.67%,
    #f59925 83.33%,
    #f78b1e 100%
  );

  div{

    ul{
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 6px;

      h2{
        text-align: left;
        margin-top: 10px;
        padding: 6px;
        font-size: nth($font-size, 2);
        font-family: "Roboto", sans-serif;
        font-style: italic;
        font-weight: 500;
        justify-content: start;
      }
      
      li{

        a{
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
