/* ---- MEDIA QUERIES ---- */

@media screen and (max-width: 950px) {
    header {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 850px) {
    .logydist {
      flex-direction: column;
    }
  
    .miviva {
      font-size: 12px;
      font-weight: 250;
      margin: 7px;
      padding: 7px;
    }
  }
  
  @media screen and (max-width: 750px) {
    .principiosyvisiones img {
      flex-direction: column;
    }
  
    .fondoquienes {
      background-image: url("../img/fondoquienes.jpg");
      width: 100%;
      height: 50vh;
    }
  
    .fondorrhh {
      background-image: url("../img/rrhh.jpg");
      width: 100%;
      height: 50vh;
    }
  
    .fondocontactos {
      background-image: url(../img/fondo\ contactos.jpg);
      width: 100%;
      height: 50vh;
    }
  }
  
  @media screen and (max-width: 670px) {
    .hero {
      width: 100%;
      height: 50vh;
    }
  
    .hero h1 {
      font-size: 30px;
      padding: 20px;
    }
  
    .hero p {
      font-size: 10clpx;
      margin-top: 6px;
      padding: 15px;
    }
  
    .imgvisionmv {
      width: 350px;
      height: 233px;
    }
  
    .fondorrhh h1 {
      font-size: 40px;
      padding: 20px;
    }
  
    .fondocontactos h1 {
      font-size: 40px;
      padding: 20px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .logo {
      width: 300px;
      height: 100px;
    }
    .header nav ul {
      font-size: 15px;
      width: 300px;
      padding: 0%;
    }
  
    .compromiso {
      font-size: 20px;
    }
  
    .compromiso p {
      padding: 10px;
      margin-top: 10px;
    }
  
    .logydist p {
      font-size: 15px;
    }
  
    .fondorrhh h1 {
      font-size: 30px;
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .imglogydist {
      width: 350px;
      height: 233px;
    }
  
    .fondorrhh {
      background-image: url("../img/rrhh.jpg");
      width: 100%;
      height: 40vh;
    }
  
    .fondorrhh h1 {
      font-size: 25px;
      padding: 10px;
    }
  }
  